@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-Light;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url(../fonts/Montserrat/Montserrat-ExtraBold.ttf);
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
  font-family: Nunito-Bold;
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
}

@font-face {
  font-family: Nunito-Light;
  src: url(../fonts/Nunito/Nunito-Light.ttf);
}

@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: Nunito-ExtraBold;
  src: url(../fonts/Nunito/Nunito-ExtraBold.ttf);
}

/* *************** Reset CSS starts here*************** */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* *************** Reset CSS ends here *************** */

/* *************** Root styles starts here *************** */
:root {
  font-size: 10px;
  background-color: #0f1626;
  color: white;
  --glow-color: hsl(186 100% 69%);
}

/* *************** Root styles ends here *************** */

/* *************** Common styles starts here *************** */
.container {
  margin: auto;
  width: 100%;
  max-width: 1088px;
  padding: 0 20px;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-ends {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-even {
  justify-content: space-evenly;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

.font-montserrat {
  font-family: Montserrat;
}

.font-montserrat-light {
  font-family: Montserrat-Light;
}

.font-montserrat-bold {
  font-family: Montserrat-Bold;
}

.font-montserrat-extrabold {
  font-family: Montserrat-ExtraBold;
}

.font-montserrat-semibold {
  font-family: Montserrat-SemiBold;
}

.font-montserrat-medium {
  font-family: Montserrat-Medium;
}

.font-nunito {
  font-family: Nunito;
}

.font-nunito-light {
  font-family: Nunito-Light;
}

.font-nunito-bold {
  font-family: Nunito-Bold;
}

.font-nunito-extrabold {
  font-family: Nunito-ExtraBold;
}

.font-nunito-semibold {
  font-family: Nunito-SemiBold;
}

.font-color-white {
  color: white;
}

.font-color-blue {
  color: #34b1fa;
}

.font-color-gray {
  color: rgb(226, 226, 225);
}

.font-color-antiquewhite {
  color: antiquewhite;
}

.bg-gradient-blue {
  padding: 5px 0 0;
  background-image: linear-gradient(to bottom,
      rgba(97, 239, 255, 0.75) 0%,
      rgba(97, 239, 255, 0.4) 25%,
      rgba(97, 239, 255, 0.1) 50%,
      transparent 85%);
  /* background-image: linear-gradient(to bottom,
      #34b1fa 0%,
      #34b1fa75 30%,
      #34b1fa1e 50%,
      transparent 85%); */
}

.new-section {
  padding: 50px 0;
  box-sizing: border-box;
}

.section-heading {
  font-size: 6rem;
  margin: 0 0 30px 0;
  position: relative;
  border: none;
  border-radius: 0.45em;
  perspective: 1.4em;
}


.card {
  background-color: #0d0d0dab;
  padding: 30px;
  border-radius: 20px;
  overflow: auto;
  max-width: inherit;
  position: relative;
}
.card:hover{
  background-color: #0d0d0dc3;
}

@media screen and (min-width: 767px) {
  .section-heading::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 25px;
    left: 0;
    right: 0;
    opacity: 1;
    filter: blur(15px);
    transform: translateY(120%) rotateX(95deg) scale(1.2, 0.45);
    background: var(--glow-color);
    pointer-events: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  .section-heading {
    font-size: 4rem;
  }

  .card {
    padding: 20px;
    border-radius: 15px;
  }

  .new-section {
    padding: 35px 0;
  }
}

@media screen and (max-width: 551px) {
  .card {
    padding: 10px;
    border-radius: 10px;
  }

  .new-section {
    padding: 50px 0;
  }
}

/* *************** Common styles ends here *************** */

/* *************** background-section styles starts here *************** */
.bg-icons-wraper{
  z-index: -1;
  position: fixed;
  height: 86%;
  width: 90%;
  top: 7%;
  left: 5%;
  /* border: 2px solid red; */
}
.bg-icons-container{
  position: relative;
  height: 100%;
  width: 100%;
  /* border: 2px solid white; */
}
.bg-icons{
  position: absolute;
  opacity: 0.5;
  /* animation-name: updown; */
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.bg-icons.scrolledup{
  animation-name: downup;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.bg-icons.scrolleddown{
  animation-name: updown;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@keyframes updown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px) scale(0.8); 
  }
  100% { transform: translateY(0); }
}
@keyframes downup {
  0% { transform: translateY(0) ; }
  50% { transform: translateY(30px) scale(0.8); 
  }
  100% { transform: translateY(0) ; }
}
@keyframes rotate-clock {
  0% { transform: rotate(0deg) ; }
  50% { transform: rotate(180deg) ; 
  }
  100% { transform: rotate(360deg) ; }
}
@keyframes rotate-anti {
  0% { transform: rotate(0deg) ; }
  50% { transform: rotate(-180deg) ; 
  }
  100% { transform: rotate(-360deg) ; }
}
@keyframes remove-rotation {
  0% {
    transform: rotate();
  }
  100% { transform: rotate(0deg) ; }
}
.bg-icons.icon1{
  top: 7%;
  left: 5%;
  width: 150px;
}
.bg-icons.icon2{
  top: 10%;
  right: 5%;
  width: 200px;
  opacity: 0.3;
}
.bg-icons.icon3{
  bottom: 20%;
  right: 30%;
  width: 100px;
  opacity: 0.3;
}
.bg-icons.icon4{
  top: 20%;
  right: 45%;
  width: 100px;
  opacity: 0.3;
}
.bg-icons.icon5{
  bottom: 5%;
  left: 7%;
  width: 100px;
  opacity: 0.3;
}
.bg-icons.icon6{
  bottom: 5%;
  right: 7%;
  width: 100px;
  opacity: 0.3;
}
@media screen and (max-width: 551px) {
  .bg-icons.icon1{
    top: 7%;
    left: 5%;
    width: 100px;
  }
  .bg-icons.icon2{
    top: 17%;
    right: 5%;
    width: 150px;
    opacity: 0.3;
  }
  .bg-icons.icon3{
    bottom: 30%;
    right: 5%;
    width: 70px;
    opacity: 0.3;
  }
  .bg-icons.icon4{
    top: 50%;
    left: 5%;
    width: 70px;
    opacity: 0.3;
  }
  .bg-icons.icon5{
    bottom: 5%;
    left: 7%;
    width: 70px;
    opacity: 0.3;
  }
  .bg-icons.icon6{
    bottom: 0%;
    right: 7%;
    width: 50px;
    opacity: 0.3;
  }
}
/* *************** background-section styles ends here *************** */

/* *************** header-section styles starts here *************** */
.header-section {
  padding: 20px 0 0;
}

.header-section .title {
  font-size: 2.4rem;
  text-decoration: none;
  perspective: 2.4em;
}

.header-section .nav {
  position: fixed;
  top: 0px;
  right: 0px;
  display: none;
}

.header-section .menu-icon-wrapper {
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  box-sizing: border-box;
  transition: 0.2s;
}

.header-section .menu-icon-wrapper:hover {
  background-color: #3ad1ff3b;
}

.header-section .menu-exit-wrapper {
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  box-sizing: border-box;
  transition: 0.2s;
}

.header-section .menu-exit-wrapper:hover {
  background-color: #000;
  fill: #FFF;
}

.header-section .nav {
  padding: 20px;
  background: white;
  height: 100%;
  min-height: 100vh;
  min-width: 150px;
  width: fit-content;
  z-index: 10000;
  animation: menuanimation 200ms;
}

@keyframes menuanimation {
  from {
    right: -200px;
  }

  to {
    right: 0;
  }
}

.header-section .nav .close-wrapper {
  justify-content: flex-end;
  width: 100%;
}

.header-section .nav .nav-list {
  font-family: Nunito;
  font-size: 2rem;
  list-style: none;
}

.header-section .nav .nav-list li {
  margin: 10px 0;
}

.header-section .nav .nav-list li a {
  color: #0f1626;
  text-decoration: none;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 0.2s;
}

.header-section .nav .nav-list li a:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
}
@media screen and (min-width: 767px) {
  .header-section .title::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    right: 0;
    opacity: 1;
    filter: blur(25px);
    transform: translateY(120%) rotateX(95deg) scale(1.2, 0.45);
    background: var(--glow-color);
    pointer-events: none;
  }
  
}

@media screen and (max-width: 551px) {
  .header-section {
    padding: 10px 0 0;
  }

  .header-section .title {
    font-size: 1.6rem;
  }
}

/* *************** header-section styles ends here *************** */
/* *************** banner-section styles starts here *************** */
.banner-section {
  padding: 100px 0;
  box-sizing: border-box;
}

.banner-section .profile-wrapper .profile-img {
  width: 300px;
  border-radius: 100%;
}

.banner-section .content-wrapper .heading {
  font-size: 6rem;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 991px) {
  .banner-section {
    padding: 80px 0;
  }

  .banner-section .profile-wrapper .profile-img {
    width: 250px;
  }

  .banner-section .content-wrapper .heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .banner-section {
    padding: 50px 0;
  }

  .banner-section .profile-wrapper .profile-img {
    width: 200px;
  }

  .banner-section .content-wrapper .heading {
    font-size: 4rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 551px) {
  .banner-section {
    margin: 80px 0;
  }

  .banner-section .container {
    flex-direction: column;
  }

  .banner-section .content-wrapper {
    margin: 50px 0 0 0;
    align-items: center;
  }
}

/* *************** banner-section styles ends here *************** */
/* *************** about-me-section styles starts here *************** */
.about-me-section .about-me-img {
  width: 350px;
  margin: 0 20px 0 0;
}

.about-me-section .greetings {
  font-size: 3.6rem;
}

.about-me-section .title {
  font-size: 3.6rem;
  line-height: 1.5;
}

.about-me-section .description {
  margin: 10px 0 0 0;
  font-size: 2.4rem;
  line-height: 1.3;
  max-width: 600px;
}

@media screen and (max-width: 991px) {
  .about-me-section .about-me-img {
    width: 300px;
    margin: 0 15px 0 0;
  }

  .about-me-section .greetings {
    font-size: 3rem;
  }

  .about-me-section .title {
    font-size: 3rem;
  }

  .about-me-section .description {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .about-me-section .card {
    flex-direction: column;
  }

  .about-me-section .about-me-img {
    width: 250px;
  }

  .about-me-section .content-wrapper {
    margin: 30px 0 0 0;
  }

  .about-me-section .greetings {
    font-size: 2.4rem;
  }

  .about-me-section .title {
    font-size: 2.4rem;
  }

  .about-me-section .description {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 551px) {
  .about-me-section .about-me-img {
    width: 200px;
  }

  .about-me-section .content-wrapper {
    margin: 20px 0;
  }

  .about-me-section .greetings {
    font-size: 2rem;
  }

  .about-me-section .title {
    font-size: 2rem;
  }

  .about-me-section .description {
    font-size: 1.4rem;
  }
}

/* *************** about-me-section styles ends here *************** */
/* *************** skills-section styles starts here *************** */
.skills-section .card {
  padding: 40px 30px 30px;
}

.skills-section .skill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 150px;
  border-radius: 100%;
  background-color: #34b1fa27;
  margin: -10px 0 0 -20px;
  color: rgb(226, 226, 225);
  font-family: Nunito;
  font-size: 2.4rem;
  transition: 0.25s;
}
.skill.python:hover{
  background-image: url(../img/python.png);
  background-blend-mode:color-dodge;
  background-size: 30px auto;
}
.skill.MongoDB:hover{
  background-image: url(../img/mongodb.svg);
  background-blend-mode:color-dodge;
  background-size: 60px auto;
}
.skill.Angular:hover{
  background-image: url(../img/angular.svg);
  background-blend-mode:color-dodge;
  background-size: 30px auto;
}
.skill.Vue:hover{
  background-image: url(../img/vue.svg);
  background-blend-mode:color-dodge;
  background-size: 25px auto;
}
.skill.Django:hover{
  background-image: url(../img/django.svg);
  background-blend-mode:color-dodge;
  background-size: 40px auto;
}
.skill.javascript:hover{
  background-image: url(../img/javascript.png);
  background-blend-mode:color-dodge;
  background-size: 30px auto;
}
.skill.React:hover{
  background-image: url(../img/react.svg);
  background-blend-mode:color-dodge;
  background-size: 30px auto;
}
.skill.Node:hover{
  background-image: url(../img/nodejs.svg );
  background-blend-mode:color-dodge;
  background-size: 40px auto;
}
.skill.HTML:hover{
  background-image: url(../img/html.svg );
  background-blend-mode:color-dodge;
  background-size: 30px auto;
}
.skill.MySQL:hover{
  background-image: url(../img/mysql.svg );
  background-blend-mode:color-dodge;
  background-size: 40px auto;
}
.skill.CSS:hover{
  background-image: url(../img/css.svg );
  background-blend-mode:color-dodge;
  background-size: 30px auto;
}
.skill.ExpressJs:hover{
  background-image: url(../img/express.svg );
  background-blend-mode:color-dodge;
  background-size: 60px auto;
}

.skill.NestJs:hover{
  background-image: url(../img/nest.svg );
  background-blend-mode:color-dodge;
  background-size: 60px auto;
}

.skills-section .skill:nth-child(odd) {
  background-color: #34b1fa0c;
}

.skills-section .skill:hover {
  background-color: rgba(255, 255, 255, 0.609);
  opacity: 1;
  color: #0f1626;
  font-weight: bold;
  cursor: pointer;
}

/* *************** skills-section styles ends here *************** */
/* *************** projects-section styles starts here *************** */
.projects-section .card {
  width: calc(100% - 40px);
}

.projects-section .arrow {
  position: absolute;
  top: 180px;
  background-color: #f1f7fa2c;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 9;
}

.projects-section .projects-next {
  right: 35px;
}

.projects-section .projects-prev {
  left: 35px;
}

.projects-section .arrow:hover {
  background-color: #34b1fa;
}

.projects-section .arrow:hover img {
  filter: brightness(0%);
}

.projects-section .projects-wrapper {
  overflow-x: auto;
}

.projects-section .project-box-wrapper {
  width: 300px;
  margin: 15px;
}

.projects-section .project-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  min-width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: #34b1fa0c;
  border: 1px solid rgb(226, 226, 225);
  padding: 20px 15px;
  transition: 0.25s;
}
.projects-section .project-box:hover{
  transform: scale(1.05);
  background-color: #0f1626;
}

.projects-section .project-box .title {
  font-family: Nunito-Bold;
  font-size: 3rem;
  color: rgb(226, 226, 225);
}

.projects-section .project-box .tech-stack {
  font-family: Nunito;
  font-size: 2rem;
  color: rgba(226, 226, 225, 0.9);
}

.projects-section .project-box .description {
  font-family: Nunito;
  font-size: 1.5rem;
  color: rgba(226, 226, 225, 0.9);
}

.projects-section .project-box .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(226, 226, 225, 0.9);
  width: 100%;
  transition: 0.3s;
  text-decoration: none;
}

.projects-section .project-box .link:hover {
  background-color: #34b1fa;
  border-color: #34b1fa;
}

.projects-section .project-box .link img {
  width: 30px;
}

.projects-section .project-box .link:hover img {
  filter: brightness(0%);
  transition: 0.3s;
}

.projects-section .project-box .link span {
  display: none;
}

.projects-section .project-box .link:hover span {
  display: block;
  font-size: 2rem;
  margin: 0 0 0 10px;
  color: black;
  transition: 0.3s;
}

@media screen and (max-width: 551px) {
  .projects-section .card {
    width: calc(100% - 10px);
  }
}

/* *************** projects-section styles ends here *************** */
/* *************** contact-section styles starts here *************** */
.contact-section .description {
  font-size: 2rem;
  max-width: 600px;
  margin: 10px 0 30px 0;
}

.contact-section .contact-list {
  margin: 0 auto;
  width: fit-content;
}

.contact-section .contact-list .contact-item {
  margin: 5px 0;
  display: flex;
  align-items: center;
  font-family: Nunito;
  font-size: 2rem;
  color: rgb(226, 226, 225);
  text-decoration: none;
  width: fit-content;
}

.contact-section .contact-list .contact-item:hover {
  filter: opacity(0.8);
}

.contact-section .contact-list .contact-item .icon {
  height: 3rem;
  margin: 0 15px 0 0;
}

@media screen and (max-width: 551px) {
  .contact-section .description {
    font-size: 1.4rem;
  }

  .contact-section .contact-list .contact-item {
    font-size: 1.6rem;
  }

  .contact-section .contact-list .contact-item .icon {
    height: 2rem;
  }
}

/* *************** contact-section styles ends here *************** */
/* *************** scroll styles starts here *************** */
.scroll-wrapper {
  position: fixed;
  align-items: center;
  width: 18px;
  top: 40%;
  left: 15px;
  z-index: 9;
}

.scroll-wrapper .scroll-list {
  list-style: none;
  flex-direction: column;
  padding: 0;
}

.scroll-wrapper .scroll-dot {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  border: solid 2px white;
  background-color: transparent;
  padding: 0;
  margin: 0 auto 12px;
}

.scroll-wrapper .scroll-dot:hover {
  transform: scale(1.8);
  background: white;
}

.scroll-wrapper .is-active {
  transform: scale(1.8);
  background: white;
}

@media screen and (max-width: 767px) {
  .scroll-wrapper {
    display: none;
  }
}

/* *************** scroll styles ends here *************** */
