@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #007cf8;
}

body {
  background: black;
  color: white;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: black;
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 1.2em;

    span {
      color: var(--primary-color);
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    cursor: pointer;
    position: fixed;
    right: 1em;
  }
}

a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.section-1 {
  text-align: center;
}

.right-side {
  .subhead {
    text-transform: uppercase;
    font-weight: bold;
    color: whitesmoke;
    letter-spacing: 0.3em;
    font-size: small;
    margin-bottom: 0.2em;
  }

  h1 {
    color: white;
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  h2 {
    color: var(--primary-color);
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: 0em;
    margin-bottom: 0.2em;
  }
}

.profile-pic {
  width: 70%;
  margin-top: 3em;
  border-radius: 100%;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  //width: 66%;
  right: 0;
  top: 0;
  background: black;
  height: 100vh;
  padding: 1em;
  opacity: 80%;
  animation: menuanimation 100ms;

  @keyframes menuanimation {
    from {
      right: -2em;
    }
    to {
      right: 0;
    }
  }

  ul.primary-nav {
    margin-top: 5em;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.3em;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.objective-sec {
  padding-left: 0;
  .objective-div {
    //transform: skewY(-2.5deg);
    //transform-origin: 100%;
    display: block;
    background: rgba(4, 65, 134, 0.562);
    padding: 1em;
    margin-left: 0;
    max-width: 690px;

    .objective-head {
      display: block;
      color: white;
      padding-bottom: 2em;
      //transform: skewY(2.5deg);
      text-align: center;
    }
    .objective-para {
      display: block;
      border: 3px solid rgba(4, 65, 134, 0.562);
      border-radius: 1em;
      background-color: rgb(5, 5, 5);
      padding: 1em;
      color: white;
      //transform: skewY(2.5deg);
      //transform-origin: 100%;
      margin-top: -2em;
    }
  }
}

.ed-sec {
  //padding-left: 0;
  //align-items: center;
  padding-left: 0;
  margin: 0;
  padding: auto;
  display: block;
  //border: 5px white;
  background: yello;
  .ed-dev {
    //transform: skewY(-2.5deg);
    //transform-origin: 100%;
    display: block;
    background: rgba(4, 65, 134, 0.562);
    padding: 1em;
    //margin-right: 1em;
    max-width: 690px;

    .ed-head {
      display: block;
      color: white;
      padding-bottom: 2em;
      //transform: skewY(2.5deg);
      text-align: center;
    }

    .ed-table {
      color: white;
      text-align: center;
      //transform: skewY(2.5deg);
      display: block;
      border-radius: 1em;
      background: black;
      margin-top: -3em;
      border: 3px solid rgba(4, 65, 134, 0.562);
      margin-bottom: 2em;
      overflow: auto;
      right: 0;
      max-width: 679px;
    }

    scrollbar-width: 0;
    tr:hover {
      background-color: rgba(4, 65, 134, 0.562);
    }

    th,
    td {
      padding: 1em;
    }
  }
}

.skills-sec {
  background-color: rgba(4, 65, 134, 0.562);
  //overflow-x: scroll;
  margin-top: 4em;

  .skills-head {
    display: block;
    color: white;
    text-align: center;
  }

  .skills {
    display: grid;
    overflow-x: auto;
    justify-items: center;

    .skill-div {
      display: flex;
      text-align: center;
      padding: 1em;
      div:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.486);
      }

      div:nth-child(even) {
        background-color: rgba(36, 18, 201, 0.301);
      }
      .skill {
        width: 200px;
        height: 100px;
        border-radius: 100%;
        margin-left: -20px;
        color: white;
        padding-top: 40px;
      }
      li:nth-child(odd) {
        color: white;
      }

      li:nth-child(even) {
        color: var(--primary-color);
      }
    }
  }
}

.project-sec {
  //color: white;
  margin-top: 4em;
  background-color: rgba(4, 65, 134, 0.562);
  .project-head {
    display: block;
    color: white;
    //padding-bottom: 2em;
    text-align: center;
  }

  .projects {
    display: flex;
    overflow-x: auto;

    .project-div {
      background-color: black;
      display: block;
      align-items: center;
      padding: 1em;
      border: 3px solid rgba(4, 65, 134, 0.562);
      border-radius: 10%;
      text-align: center;
      margin: 1em;
      max-width: 350px;
      min-width: 220px;
      margin-bottom: 1em;
      //padding-bottom: 1em;

      h1 {
        font-size: 1.5em;
        line-height: 1.3em;
        margin-top: 0em;
        margin-bottom: 0.2em;

        a {
          text-decoration: none;
          color: var(--primary-color);
        }
      }

      span {
        color: white;
        font-size: 1.2em;
        font-weight: bold;
      }

      p {
        color: white;
      }

      .discreption {
        color: whitesmoke;
        font-size: small;
      }

      .open-btn {
        display: block;
        background: var(--primary-color);
        text-decoration: none;
        text-align: center;
        padding: 0.5em;
        border-radius: 1em;
        margin-bottom: 0;
      }
    }
  }
}


.contact-sec {
  h1{
    text-align: center;
    color: white;
  }
  .container {
    .contact-left {
      padding-bottom: 1em;
      .contact-head {
        padding: 1em;
      }
      .contact-list {
        .contact {
          padding: 0.5em;
          a {
            text-decoration: none;

            .icon {
              //margin-left: .5em;
              margin-bottom: -0.5em;
              padding-right: 1em;
              width: 1.5em;
              height: 1.5em;
              //border-radius: 20px;
              transition: all 0.3s;
              cursor: pointer;
              align-items: center;
              justify-content: center;

              &:hover {
                transform: scale(1.25);
              }
            }
          }
        }
      }
    }

    iframe {
      width: 100%;
      height: 300px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }

  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;

    ul {
      display: flex;
    }

    a {
      color: white;
      font-size: 1em;
      padding: 0.1em 1em;
      cursor: pointer;
    }

    ul.primary-nav {
      margin: 0;
    }

    li.current a {
      font-weight: bold;
    }
  }
}

@media only screen and (min-width: 800px) {
  section {
    padding: 2em 2em;
  }

  .section-1 .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .profile-pic {
      display: block;
      width: 30%;
      margin-left: 2em;
    }

    .right-side {
      padding: 8em 2em;
      h1 {
        font-size: 3em;
        //width: 90%;
      }
    }
  }

  .contact-sec {
    position: relative;

    .container {
      display: flex;
      .contact-left {
        width: 50%;
      }
      .contact-right {
        //position: absolute;
        right: 0;
        //top: 0;
        width: 50%;
        //height: 100%;

        iframe {
          width: 100%;
          //height: 100%;
        }
      }
    }
  }
}
@media only screen and (min-width: 1080px) {
  .ed-sec {
    &:before {
      content: "";
      position: absolute;
      width: 20%;
      height: 27em;
      //border-radius: 100%;
      background: var(--primary-color);
      right: 0;
      margin-top: -13em;
      transform: skewY(-2.5deg);
      //top: -4em;
      animation: coloranimation 4s infinite linear;

      @keyframes coloranimation {
        0% {
          background-color: rgba(255, 0, 0, 0.521);
        }
        25% {
          background-color: rgba(255, 0, 200, 0.438);
        }
        50% {
          background-color: rgba(0, 0, 255, 0.466);
        }
        75% {
          background-color: rgba(0, 128, 0, 0.466);
        }
        100% {
          background-color: rgba(255, 0, 0, 0.473);
        }
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 200px;
      height: 12.5em;
      border-radius: 100%;
      background: url("../images/chakra.svg") no-repeat;
      right: 9.5em;
      margin-top: -30em;
      animation: chakraamimation 10s infinite linear;

      @keyframes chakraamimation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
