@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007cf8;
}

body {
  background: black;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: black;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  position: fixed;
  right: 1em;
}

a {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.section-1 {
  text-align: center;
}

.right-side .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 0.3em;
  font-size: small;
  margin-bottom: 0.2em;
}

.right-side h1 {
  color: white;
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.right-side h2 {
  color: var(--primary-color);
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

.profile-pic {
  width: 70%;
  margin-top: 3em;
  border-radius: 100%;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  background: black;
  height: 100vh;
  padding: 1em;
  opacity: 80%;
  -webkit-animation: menuanimation 100ms;
          animation: menuanimation 100ms;
}

@-webkit-keyframes menuanimation {
  from {
    right: -2em;
  }
  to {
    right: 0;
  }
}

@keyframes menuanimation {
  from {
    right: -2em;
  }
  to {
    right: 0;
  }
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.objective-sec {
  padding-left: 0;
}

.objective-sec .objective-div {
  -webkit-transform: skewY(-2.5deg);
          transform: skewY(-2.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  display: block;
  background: rgba(4, 65, 134, 0.562);
  padding: 1em;
  margin-left: 0;
  max-width: 690px;
}

.objective-sec .objective-div .objective-para {
  display: block;
  border: 3px solid rgba(4, 65, 134, 0.562);
  border-radius: 1em;
  background-color: #050505;
  padding: 1em;
  color: white;
  -webkit-transform: skewY(2.5deg);
          transform: skewY(2.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  margin-top: -2em;
}

.ed-sec {
  padding-left: 0;
  margin: 0;
  padding: auto;
  display: block;
  background: yello;
}

.ed-sec .ed-dev {
  -webkit-transform: skewY(-2.5deg);
          transform: skewY(-2.5deg);
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  display: block;
  background: rgba(4, 65, 134, 0.562);
  padding: 1em;
  max-width: 690px;
  scrollbar-width: 0;
}

.ed-sec .ed-dev .ed-table {
  color: white;
  text-align: center;
  -webkit-transform: skewY(2.5deg);
          transform: skewY(2.5deg);
  display: block;
  border-radius: 1em;
  background: black;
  margin-top: -3em;
  border: 3px solid rgba(4, 65, 134, 0.562);
  margin-bottom: 2em;
  overflow: auto;
  right: 0;
  max-width: 679px;
}

.ed-sec .ed-dev tr:hover {
  background-color: rgba(4, 65, 134, 0.562);
}

.ed-sec .ed-dev th,
.ed-sec .ed-dev td {
  padding: 1em;
}

.project-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.project-sec .project-div {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  border: 3px solid rgba(4, 65, 134, 0.562);
  border-radius: 10%;
  text-align: center;
  margin: 1em;
  max-width: 350px;
  min-width: 220px;
  margin-bottom: 1em;
}

.project-sec .project-div h1 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

.project-sec .project-div h1 a {
  text-decoration: none;
  color: var(--primary-color);
}

.project-sec .project-div span {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.project-sec .project-div p {
  color: white;
}

.project-sec .project-div .discreption {
  color: whitesmoke;
  font-size: small;
}

.project-sec .project-div .open-btn {
  display: block;
  background: var(--primary-color);
  text-decoration: none;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
  margin-bottom: 0;
}

.construction-sec {
  display: block;
}

.construction-sec .const-div {
  text-align: center;
  padding: 2em;
  -webkit-animation: constanimation 4s infinite;
          animation: constanimation 4s infinite;
}

.construction-sec .const-div h1 {
  color: white;
}

@-webkit-keyframes constanimation {
  0% {
    background-color: rgba(255, 0, 0, 0.521);
  }
  25% {
    background-color: rgba(255, 0, 200, 0.438);
  }
  50% {
    background-color: rgba(0, 0, 255, 0.466);
  }
  75% {
    background-color: rgba(0, 128, 0, 0.466);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.473);
  }
}

@keyframes constanimation {
  0% {
    background-color: rgba(255, 0, 0, 0.521);
  }
  25% {
    background-color: rgba(255, 0, 200, 0.438);
  }
  50% {
    background-color: rgba(0, 0, 255, 0.466);
  }
  75% {
    background-color: rgba(0, 128, 0, 0.466);
  }
  100% {
    background-color: rgba(255, 0, 0, 0.473);
  }
}

@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: white;
    font-size: 1em;
    padding: 0.1em 1em;
    cursor: pointer;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}

@media only screen and (min-width: 800px) {
  section {
    padding: 2em 2em;
  }
  .section-1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-1 .container .profile-pic {
    display: block;
    width: 30%;
    margin-left: 2em;
  }
  .section-1 .container .right-side {
    padding: 8em 2em;
  }
  .section-1 .container .right-side h1 {
    font-size: 3em;
  }
}

@media only screen and (min-width: 800px) and (min-width: 1080px) {
  .ed-sec:before {
    content: '';
    position: absolute;
    width: 20%;
    height: 20em;
    background: var(--primary-color);
    right: 0;
    margin-top: -7em;
    -webkit-transform: skewY(-2.5deg);
            transform: skewY(-2.5deg);
  }
  .ed-sec:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 20em;
    background: url("../images/dots.svg") no-repeat;
    right: 8em;
    margin-top: -16em;
    -webkit-transform: skewY(2.5deg);
            transform: skewY(2.5deg);
  }
}

@media only screen and (min-width: 800px) {
  .ed-sec .ed-dev {
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */