body {
    background-color:  rgb(43, 43, 43);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table{
    color: rgb(233, 234, 241);
}

input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    width: 100%;
    padding: 5px 7px;
    margin: 8px 0;
    color: rgb(252, 252, 252);
    background-color: inherit;
    border: 2px solid rgba(204, 204, 204, 0.479);
    transition-duration: 0.2s;
}

textarea{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    width: 100%;
    padding: 5px 7px;
    margin: 8px 0;
    color: rgb(252, 252, 252);
    background-color: inherit;
    border: 2px solid rgba(204, 204, 204, 0.363);
    transition-duration: 0.2s;

}


input[type=submit] {
    font-weight: bold;
    display: inline-block;
    line-height: 35px;
    padding: 0 33px;
    border-radius: 20px;
    background-color: #0cf132;
    color: rgb(10, 10, 10);
    border: none;
}
input[type=submit]:hover {
    background-color: #00ffbf;
}

input[type=button] {
    font-weight: bold;
    display: inline-block;
    line-height: 35px;
    padding: 0 33px;
    border-radius: 20px;
    background-color: #0cf132;
    color: rgb(10, 10, 10);
    border: none;
}
input[type=button]:hover {
    background-color: #00ffbf;
}


input[type=reset] {
    font-weight: bold;
    display: inline-block;
    line-height: 35px;
    padding: 0 33px;
    border-radius: 20px;
    background-color: #0cf132;
    color: rgb(10, 10, 10);
    border: none;
}
input[type=reset]:hover {
    background-color: #00ffbf;
}

.login_b{
    font-weight: bold;
    size: 100%;
}

h1{
    color: rgb(233, 234, 241);
    font-size:70px;
    font-weight: 900;
    
}
h2{
    color: rgb(233, 234, 241);
    font-size:40px;
    font-weight: 900;
}
h4{
    color: rgb(0, 253, 42);
    font-size:40px;
    font-weight: 900;
}

h5{
    color: rgb(0, 236, 253);
    font-size:40px;
    font-weight: 900;
}

h3{
    color: rgb(233, 234, 241);
    font-weight: 900;
}

.main{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 25px;
    max-width: 600px;
    height: max-content;
    background-color: rgba(1, 0, 5, 0.692);
}
.main_form{
    font-size: large;
    font-weight: bold;
    color:rgb(249, 250, 246);
    background-color: rgb(0, 0, 0);
    padding: 25px;
    border-radius: 30px;
    border: 3px solid #f50404;
}
.page{
    font-size: large;
    font-weight: bold;
    color:rgb(249, 250, 246);
    background-color: rgb(0, 0, 0);
    padding: 25px;
    border-radius: 30px;
    border: 3px solid #f50404;
}
.page input[type=number]{
    width: 10ch;
}
.link_table{
    padding-top: 20px;
}
a{
    color: #f0e9e9;
}

.header {
    padding: 1px;
    background: #f50404;
}

.navbar{
    overflow: hidden;
  background-color: rgb(7, 7, 7);
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: rgb(43, 43, 43);
}
.navbar a.right {
    float: right;
}  

.profile_pic{
    border: 4px solid #f50404;
    height:350px;
    border-radius: 50px;
    margin: 30px;
}

#pass_verify {
    display:none;
    color: #f0e9e9;
    position: relative;
    margin-top: 10px;
  }
  
  #pass_verify p {
    font-size: 18px;
  }

  .valid {
    color: rgb(0, 253, 42);
  }
  
  .valid:before {
    position: relative;
    left: -35px;
  }
  
  .invalid {
    color: #ff0000;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }